@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow : hidden !important;
}

.textarea {
    cursor: auto;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}
